[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A note recorder app written in VUE
[access "refs/*"]
	owner = group user/Ege Akın (egeakin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ege Akın (egeakin)
	label-Verified = -1..+1 group user/Ege Akın (egeakin)
	push = group user/Ege Akın (egeakin)
	read = group user/Ege Akın (egeakin)
	rebase = group user/Ege Akın (egeakin)
	removeReviewer = group user/Ege Akın (egeakin)
	submit = group user/Ege Akın (egeakin)
[access "refs/heads/*"]
	create = group user/Ege Akın (egeakin)
	push = +force group user/Ege Akın (egeakin)
	pushMerge = group user/Ege Akın (egeakin)
	read = group user/Ege Akın (egeakin)
[access "refs/tags/*"]
	push = group user/Ege Akın (egeakin)
	push = +force group user/Ege Akın (egeakin)
